
<h4>Actions</h4>

<div class="p-2 border my-2">
    <div>
        <div class="font-weight-bold">Cookies</div>
        <input id="cookie-value" value="target_pod_id=blazor-test" placeholder="target_pod_id=blazor-test" />
        <button class="btn btn-sm btn-primary" onclick="addCookieAndRefresh();">Add cookie and refresh window</button>
        @*<button class="btn btn-sm btn-secondary" onclick="addCookie();">Only add cookie</button>*@
        <button class="btn btn-sm btn-danger" onclick="removeAllCookiesAndLocalStorage();">Remove all cookies and refresh window</button>
    </div>

    <div class="mt-3"> 
        <div class="font-weight-bold">Signal R</div>
        <button class="btn btn-sm btn-primary" onclick="blazorStart();">Start Signal R </button>
        <button class="btn btn-sm btn-warning" onclick="interruptSignalR();">Interrupt connection</button>
        <button class="btn btn-sm btn-danger" onclick="disconnectSignalR();">Stop connection</button>
        <button class="btn btn-sm btn-info" onclick="reconnectSignalR();">Reconnect</button>
    </div>
</div>

@code {

}
